* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: auto;
}

/*header*/
header {
  background-color: #93DA97;
  text-align: right;
}
header img {
  width: 100px;
  display: block;
  margin-left: 0px;
}
header a {
  color: #0F0E0E;
  text-decoration: none;
  font-family: "Zen Dots", sans-serif;
}
header .active {
  text-decoration: underline;
}
header .navbar-expand-lg .navbar-collapse {
  text-align: right;
}

/*main*/
body {
  font-family: "Zen Dots", sans-serif;
  color: #F7F7F7;
  background: #0F0E0E;
  text-align: center;
}

h1 {
  text-decoration: underline;
  padding-top: 10px;
}

p {
  text-align: left;
  padding-inline-start: 30px;
}

h2 {
  text-align: center;
}

.fotomellino {
  width: 500px;
  margin: 20px;
  border-radius: 84px 84px 84px 84px;
  -webkit-border-radius: 84px 84px 84px 84px;
  -moz-border-radius: 84px 84px 84px 84px;
  border: 5px solid white;
}
.fotomellino:hover {
  border-color: #93DA97;
}

/*footer*/
footer {
  background-color: #93DA97;
}
footer h4 {
  color: #0F0E0E;
  text-decoration: underline;
  padding-top: 10px;
}

.finalpagina {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
.finalpagina img {
  width: 70px;
}

footer p {
  text-align: right;
  color: #0F0E0E;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: auto;
}

/*header*/
header {
  background-color: #93DA97;
  text-align: right;
}
header img {
  width: 100px;
  display: block;
  margin-left: 0px;
}
header a {
  color: #0F0E0E;
  text-decoration: none;
  font-family: "Zen Dots", sans-serif;
}
header .active {
  text-decoration: underline;
}
header .navbar-expand-lg .navbar-collapse {
  text-align: right;
}

/*main*/
body {
  font-family: "Zen Dots", sans-serif;
  color: #F7F7F7;
  background-color: #0F0E0E;
  text-align: center;
}

h1 {
  text-decoration: underline;
  padding-top: 10px;
}

.imgmap1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
.imgmap1 img {
  width: 500px;
  padding-bottom: 20px;
  border-radius: 158px 158px 158px 158px;
  -webkit-border-radius: 158px 158px 158px 158px;
  -moz-border-radius: 158px 158px 158px 158px;
  border: 5px solid white;
}
.imgmap1 img:hover {
  border-color: #93DA97;
}
.imgmap1 iframe {
  width: 500px;
}

.imgmap2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
.imgmap2 img {
  width: 500px;
  padding-bottom: 20px;
  border-radius: 158px 158px 158px 158px;
  -webkit-border-radius: 158px 158px 158px 158px;
  -moz-border-radius: 158px 158px 158px 158px;
  border: 5px solid white;
}
.imgmap2 img:hover {
  border-color: #93DA97;
}
.imgmap2 iframe {
  width: 500px;
}

.imgmap3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
.imgmap3 img {
  width: 500px;
  padding-bottom: 20px;
  border-radius: 158px 158px 158px 158px;
  -webkit-border-radius: 158px 158px 158px 158px;
  -moz-border-radius: 158px 158px 158px 158px;
  border: 5px solid white;
}
.imgmap3 img:hover {
  border-color: #93DA97;
}
.imgmap3 iframe {
  width: 500px;
}

.imgmap4 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
.imgmap4 img {
  width: 500px;
  padding-bottom: 20px;
  border-radius: 158px 158px 158px 158px;
  -webkit-border-radius: 158px 158px 158px 158px;
  -moz-border-radius: 158px 158px 158px 158px;
  border: 5px solid white;
}
.imgmap4 img:hover {
  border-color: #93DA97;
}
.imgmap4 iframe {
  width: 500px;
}

/*footer*/
footer {
  background-color: #93DA97;
}
footer h4 {
  color: #0F0E0E;
  text-decoration: underline;
  padding-top: 10px;
}

.finalpagina {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
.finalpagina img {
  width: 70px;
}

footer p {
  text-align: right;
  color: #0F0E0E;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: auto;
}

/*header*/
header {
  background-color: #93DA97;
  text-align: right;
}
header img {
  width: 100px;
  display: block;
  margin-left: 0px;
}
header a {
  color: #0F0E0E;
  text-decoration: none;
  font-family: "Zen Dots", sans-serif;
}
header .active {
  text-decoration: underline;
}
header .navbar-expand-lg .navbar-collapse {
  text-align: right;
}

/*main*/
body {
  font-family: "Zen Dots", sans-serif;
  color: #F7F7F7;
  background-color: #0F0E0E;
  text-align: center;
}

h1 {
  text-decoration: underline;
  padding-top: 10px;
}

iframe {
  width: 500px;
}

/*footer*/
footer {
  background-color: #93DA97;
}
footer h4 {
  color: #0F0E0E;
  text-decoration: underline;
  padding-top: 10px;
}

.finalpagina {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
.finalpagina img {
  width: 70px;
}

footer p {
  text-align: right;
  color: #0F0E0E;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: auto;
}

/*header*/
header {
  background-color: #93DA97;
  text-align: right;
}
header img {
  width: 100px;
  display: block;
  margin-left: 0px;
}
header a {
  color: #0F0E0E;
  text-decoration: none;
  font-family: "Zen Dots", sans-serif;
}
header .active {
  text-decoration: underline;
}
header .navbar-expand-lg .navbar-collapse {
  text-align: right;
}

/*main*/
body {
  font-family: "Zen Dots", sans-serif;
  color: #F7F7F7;
  background-color: #0F0E0E;
  text-align: center;
}

h1 {
  text-decoration: underline;
  padding-top: 10px;
}

h2 {
  text-align: center;
}

form {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;
}
form label {
  padding-top: 20px;
}
form h3 {
  padding-top: 30px;
}

/*footer*/
footer {
  background-color: #93DA97;
}
footer h4 {
  color: #0F0E0E;
  text-decoration: underline;
  padding-top: 10px;
}

.finalpagina {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}
.finalpagina img {
  width: 70px;
}

footer p {
  text-align: right;
  color: #0F0E0E;
  padding: 20px;
}

/*MQ*/
/*----mobile----*/
@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  /*index*/
  .fotomellino {
    width: 400px;
    padding: 20px;
    border-radius: 84px 84px 84px 84px;
    -webkit-border-radius: 84px 84px 84px 84px;
    -moz-border-radius: 84px 84px 84px 84px;
  }
  /*galeria*/
  .imgmap1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
  }
  .imgmap1 img {
    width: 100%;
  }
  .imgmap1 iframe {
    width: 100%;
  }
  .imgmap2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
  }
  .imgmap2 img {
    width: 100%;
  }
  .imgmap2 iframe {
    width: 100%;
  }
  .imgmap3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
  }
  .imgmap3 img {
    width: 100%;
  }
  .imgmap3 iframe {
    width: 100%;
  }
  .imgmap4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .imgmap4 img {
    width: 100%;
  }
  .imgmap4 iframe {
    width: 100%;
  }
  /*discografia*/
  iframe {
    width: 100%;
  }
}
/*----tablet----*/

/*# sourceMappingURL=estilos.css.map */
