/*MQ*/
/*----mobile----*/

@media (max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: auto;
    }

    

    /*index*/
    .fotomellino {
        width: 300px;
        padding: 20px;
        border-radius: 84px 84px 84px 84px;
        -webkit-border-radius: 84px 84px 84px 84px;
        -moz-border-radius: 84px 84px 84px 84px;
    }

    p {
        text-align: center;
    }



    /*galeria*/
    .imgmap1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;

        img {
            width: 100%
        }

        iframe {
            width: 100%;
        }
    }


    .imgmap2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;

        img {
            width: 100%
        }

        iframe {
            width: 100%
        }

    }


    .imgmap3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;

        img {
            width: 100%
        }

        iframe {
            width: 100%
        }

    }





    .imgmap4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-bottom: 20px;

        img {
            width: 100%
        }

        iframe {
            width: 100%
        }

    }


    /*discografia*/
    iframe {
        width: 100%;
    }
}

/*----tablet----*/